.clientsPage-loading {
    font-size: 15px;
    color: var(--primary-green-main);
}

.clientsPage-container {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto;
}

