.myClubDetail-first-container {
    width: 90%;
    margin: 0 auto;
}

.myClubDetail-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.myClubDetail-card {
    background-color: white;
}

.myClubDetail-button {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.myClubDetail-error {
    margin-top: 20px;
}

.myClubDetail-fetching {
    color: var(--primary-green-main);
}