.client-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
    align-items: center;
    flex-direction: column;
    min-width: 450px;
}

.client-container-img {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 150px;
    width: 200px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.client-logo {
    object-fit: contain;
    height: 150px;
    width: 200px;
}

.client-total-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.client-club-container {
    width: 30%;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}

.client-button-add-club {
    background-color: var(--primary-green-main) 
}

.client-club-container-back {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-green-main);
    border-radius: 30px;
    align-items: center;
}

.client-club {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--primary-green-main);
    border-radius: 30px;
    align-items: center;
}

.client-lottery {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--primary-green-light);
    border-radius: 30px;
    align-items: center;
}

.client-button-add-lottery {
    background-color: var(--primary-green-light) 
}

.client-lottery-container {
    width: 30%;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
}

.client-lottery-container-back {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-green-light);
    border-radius: 30px;
    align-items: center;
}

.container-title {
    display: flex;
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.container-title-margin {
    margin-bottom: -20px;
}

.client-add {
    display: flex;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

.client-button {
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}