.clubs-container {
    width: 90%;
    margin: 0 auto;
}

.clubs-imageBets {
    border-radius: 20px;
}
.clubs-title {
    display: flex;
    justify-content: center;
    color: var(--primary-green-light);
    margin-top: 0;
}

.clubs-image {
    width: 50px;
    height: 50px;
    margin-left: -30px;
    transform: rotate(180deg);
}

.clubs-presentation {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.clubs-center-items {
    align-items: center;
    justify-content: center;
}