.navBar {
    height: 100px;
    display: flex;
    /*background-color: var(--primary-green-light);*/
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px;
  }
  
  .navBar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
    /*color: var(--primary-green-main);*/
  }
  
  .navLink {
    text-decoration: none;
    color: var(--primary-green-main);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: white;
  }
  
  .logo {
    width: 200px;
    height: 100px;
    object-fit: contain;
  }

  .navLoginContainer {
    display: inline;
    padding: 10px;
    border-style: solid;
    border-color: var(--primary-green-light);
    border-radius: 25px;
  }

  .navBar-menu {
    width: 35px;
    height: 35px;
    margin-right: 20px;
    color: green;
  }

  .menu-navLink {
    text-decoration: none;
    color: var(--primary-green-light);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
}
 
.menu-item {
  background-color: var(--primary-green-main);
  color: var(--primary-green-light);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 25px;
}

.menu-container {
    position: fixed;
    top: 50px;
    right: 250px;
    width: 200px;
    height: 160px;
    background-color: var(--primary-green-main);
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

