.navBar-container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px;
    margin-right: 50px;
    margin-left: 30px;
}
  
.navBar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
}
  
.navBar-navLink {
    text-decoration: none;
    color: var(--primary-green-main);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    background-color: white;
}
  
.navBar-logo {
    width: 250px;
    height: 200px;
    object-fit: contain;
}

.navBar-navLoginContainer {
    display: inline;
    padding: 10px;
    border-style: solid;
    border-color: var(--primary-green-light);
    border-radius: 25px;
}

.navBar-menu {
    width: 35px;
    height: 35px;
    margin-right: 20px;
    color: green;
}
/*
.menu-navLink {
    text-decoration: none;
    color: var(--primary-green-light);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
}
 */
.navBar-menu-item {
  background-color: var(--primary-green-main);
  color: var(--primary-green-light);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  border-radius: 25px;
}

.navBar-menu-container {
    position: fixed;
    top: 50px;
    right: 250px;
    width: 200px;
    height: 160px;
    background-color: var(--primary-green-main);
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

