.container {
  padding: 1rem;
  height: 80vh;
  width: 90%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  box-shadow: 0 0 2px 1px rgb(red, green, blue, alpha);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-green-main: #006b5a;
  --primary-green-light: #acd034;
  --primary-green-lighter: #add99c;
  --secondary-black: #000004;
  --secondary-white: #ffffff;
  --secondary-light: #fcf0ec;
}

.back-image {
  width: 50px;
  height: 50px;
  margin-top: -40px;
  margin-left: -30px;
  transform: rotate(180deg);
}

.back-image-button {
  background-color: white;
}
/*
.navBar {
  height: 100px;
  display: flex;
  background-color: var(--primary-green-main);
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px;
}

.logo {
  width: 200px;
}

.logoClient {
  height: 100px;
}

.navBar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;
  color: #fff;
}

.navLink {
  text-decoration: none;
  color: #fff;
}
*/
/*
.input-field {
  margin-bottom: 10px;
}

.input-field input:disabled {
  opacity: O.9;
}

.input-field label {
  display: block;
  color: var(--secondary-black);
  font-weight: 300;
}

.input-field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 4px;
  color: var(--primary-green-main);
  background-color: var(--primary-green-lighter);
  border-color: var(--primary-green-main);
  font-weight: 600;
}
*/
/* TODO: Que el borde se vea en verde cuando el input field esta activo */

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* .homepage-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 4rem;
} */

/* => A : Apuestas
B => Rifas
C => Info
D => Bares
*/

/*PORRAS PAGE*/

.porras-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 90vh;
}

.porras-page-box {
  flex-basis: calc(50% - 20px);
  margin-bottom: 20px;
}

/*HOMEPAGE*/
.porras-page-box {
  flex: 1;
  margin-bottom: 10px;
}

.homepage-container {
  display: grid;
  grid-template-areas:
    "b b a a"
    "c c a a"
    "d d d d";
  gap: 2rem;
}
/* .homepage-bets,
.homepage-lottery,
.homepage-clients,
.homepage-info {
  height: 25%;
  width: 100%; */
/* } */

.homepage-bets {
  background-color: red;
  grid-area: a;
  height: 80vh;
}

.homepage-lottery {
  background-color: purple;
  grid-area: b;
}

.homepage-clients {
  background-color: blue;
  grid-area: d;
  height: 100%;
}

.homepage-info {
  background-color: yellow;
  grid-area: c;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Utility class para centrar los items de un display flex" */

.center-items {
  align-items: center;
  justify-content: center;
}

/*CLUBS*/

.clubs {
  display: flex;
  flex-wrap: wrap;

  gap: 3rem;
}

.club-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 460px;
  min-height: 140px;
  border: 1px solid var(--primary-green-light);
  border-radius: 18px;
  padding: 1rem;
  background-color: transparent;
}

.club-logo {
  display: flex;
  gap: 2rem;
}

.club-teams {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.client-active-bets {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

/*BETS*/

.bet-container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bet-card {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-light);
  padding: 2rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  margin: 2rem;
  border-radius: 18px;
  max-width: 650px;
}

.client-logo {
  text-align: center;
}

.bet-user-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teams-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.bet-box {
  align-self: center;
}

.submit-bet {
  display: flex;
  margin-top: 1rem;
}

.club-bets {
  display: flex;
  flex-direction: column;
}

/*ACTIVE BETS*/

.active-bets-container {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  color: #ffffff;
}

.active-bets-title {
  color: var(--primary-green-light);
  font-style: italic;
  font-size: 2rem;
}

.active-bets {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  border: 1px solid var(--primary-green-main);
  border-radius: 18px;
  background-color: var(--primary-green-main);
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.active-bet-card {
  display: flex;
  gap: 3rem;
  border-bottom: 1px solid white;
  padding: 1rem;
}

.active-bet-teams {
  display: flex;
  gap: 2rem;
}

/*LOTTERY*/

.new-lottery-container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
}

.lotteries {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.lottery-card {
  display: flex;
  padding: 2rem;
  border: 1px solid var(--primary-green-light);
  border-radius: 18px;
  justify-content: space-between;
  gap: 1rem;
  min-width: 600px;
  background-color: transparent;
}

.make-lottery-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.lottery-bet {
  border: 1px solid var(--primary-green-main);
  border-radius: 18px;
  background-color: var(--primary-green-lighter);
  padding: 2rem;
}

.make-lottery-card {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  gap: 0.5rem;
}

.lottery-button {
  width: 45px;
}

.lottery-error {
  color: red;
}

/*TODO COMPONENT LOGO CIRCULO*/

.circle-logo {
  display: flex;
  padding: 0.5rem;
  border: 1px solid var(--primary-green-main);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  color: var(--primary-green-main);
}

.lottery-client {
  width: 100px;
}

.lottery-description {
  min-width: 315px;
}

.generateQR-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

/*CLIENTS*/

.clients-container {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
}

.clients-section {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.client-card {
  display: flex;
  border: 3px solid var(--primary-green-main);
  border-radius: 18px;
  padding: 2rem;
  gap: 2rem;
  min-width: 420px;
  justify-content: space-evenly;
  background-color: transparent;
}

.client-logo {
  width: 100px;
}

.client-name {
  font-size: 2rem;
}

@media (width < 640px) {
  .make-lottery-card {
    width: 100%;
  }
}

@media (width > 768px) {
  .homepage-container {
    display: grid;
    grid-template-areas:
      "a a b b"
      "a a c d";
    gap: 2rem;
  }

  .homepage-bets {
    grid-area: a;
    height: 100vh;
  }

  .homepage-lottery {
    grid-area: b;
  }

  .homepage-clients {
    grid-area: c;
  }

  .homepage-info {
    grid-area: d;
    height: 100%;
  }
}
