.myLotteryDetail-first-container {
    width: 90%;
    margin: 0 auto;
}

.myLotteryDetail-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.myLotteryDetail-card {
    background-color: white;
}

.myLotteryDetail-button {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.myLotteryDetail-error {
    margin-top: 20px;
}